/** {
	border: 1px solid green;
}
*/
.container {
	margin: all;
}

.row {
	margin: auto;
}

.row .subheading {
	vertical-align: top;
    display: inline-block;
    padding: 20px;
    width: calc(96%/3);
    text-align: center;
}

.img{
  width: 150px;
  height: 150px;
  background: gray;
  border-radius: 50%;
  margin: auto;
}