/** {
	border: 1px solid green;
}
*/
.container {
	margin: all;
}

.row {
	margin: auto;
	padding: 0 70px 0 70px;
}

.row .subheading {
	vertical-align: top;
    display: inline-block;
    padding: 20px;
    width: calc(96%/3);
    text-align: center;
}

.img{
  width: 150px;
  height: 150px;
  background: gray;
  border-radius: 50%;
  margin: auto;
}

.row .subheading a {
	border: 1px solid #8A8989;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	color: black;
	text-decoration: none;
}

.row .subheading a:hover {
	background: #3F31F5;
	color: #FFFFFF;
}

.row .subheading a:active {
	background: #04033B;
	color: #B7B6B6;
}
